body {
    display: flex;
    margin: 0;
    background-color: rgb(3,0,93);
    font-family: 'Manrope', sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link, a:visited {
    color: rgb(4, 0, 131);
}
a:hover, a:active {
    color: rgb(95, 91, 193);
}

.container {
    padding: 0;
    margin: 1em auto;
}
.container header {
    background-color: rgb(134,157,198);
    color: rgb(3,0,93);
    text-align: end;
    padding: 0.01em 5%;
    font-size: 1.8em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
.light {
    color: rgb(255, 255, 69);
}
.container-two {
    display: flex;
}
.container-two aside {
    background-color: rgb(179,199,229);
    width: 5em;
    padding: 1em;
    line-height: 2em;
    font-size: x-large;
}
.container-two main {
    background-color: white;
    padding: 2em;
}
.container-two main h3 {
    color: rgb(3,0,93);
    font-size: 1.6em;
}
.container-two main p {
    color: rgb(8, 7, 48);
    font-size: 1.3em;
}
#lighthouse {
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
    border-radius: 2em;
}
.container footer {
    background-color: rgb(179,199,229);
    text-align: center;
    padding: 0.5em 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}